* {
    box-sizing: border-box;
}

section {
    width:100%;
}
.container {
    width: 1400px;
    margin: 0 auto;
}

.title{
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.awesome__title::after, .pricing__title::after, .saying__title::after{
    border-bottom: 2px solid  #ff8b38;
    width: 64px;
    content: ''; 
    position: absolute;
    top: 55px;
    left: 670px;
}

.axure__title::after{
    border-bottom: 2px solid  white;
    width: 64px;
    content: ''; 
    position: absolute;
    top: 130px;
    left: 670px;
}

.text{
    color: #86878b;
    font-size: 14px;
    font-family: "Open Sans";
    text-align: center;
    line-height: 43px;
}

.awesome{
    background-color: #fff;
}

.awesome__title{
    color: #212121;
    margin: 108px 0 30px;
}

.awesome__block{
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-top: 80px;
    padding-bottom: 105px;
}

.awesome__block-item{
    width: 350px;
}

.awesome__block__image{
    width: 70px;
    height: 70px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
}

.awesome__block__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 29px 0 25px;
}

.awesome__block__description {
    width: 350px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}


.pricing{
    background-color: #f5f5f5;
}

.pricing__container{
    padding-top: 108px;
}

.pricing__title{
    color: #212121;
}

.pricing__text{
    margin-top:30px;
    margin-bottom: 80px;
}

.pricing__block{
    display: flex;
    align-items: flex-end; 
    justify-content: center; 
    padding-bottom: 96px;
}

.pricing__block-item{
    width: 343px;
    margin-left:40px;
}

.pricing__card__title{
    height:59px;
    border-bottom:1px solid white;
    background-color:rgb(29, 29, 29);
    color:white;
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    padding-top: 21px;
}

.pricing__card__price{
    height: 100px;
    background-color:rgb(29, 29, 29);
    color:white;
    border-bottom:1px solid white;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    text-align:center;
}
.dollar{
    font-size: 35px;
    vertical-align: baseline;
}

.pricing__card__time{
    height: 51px;
    background-color:rgb(29, 29, 29);
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-style: italic;
    text-align: center;
    padding-top:17px;
}

.pricing__card__popularity{
    min-height: 5px;
    background-color:#ff8b38;
}

.most__popular{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
    padding: 13px 0 15px;
    background-color:#ff8b38;
}

.pricing__card__descryption{
    height : 40px;
    padding-top: 14px;
    background-color:white;
    color: #86878b;
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
    border-bottom:1px solid #f5f5f5;
    font-family: "Open Sans";
}


.saying{
    background-color: #fff;
}

.saying__title{
    color: #212121;
    margin: 108px 0 30px;
}

.saying__block{
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 105px;
    width: 1057px;
}

.saying__block-item{
    width: 237px;
    height: 225px;
    margin: 0 auto;
    position: relative;
}

.saying__block__item__text{
    background-color: #f5f5f5;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: italic;
    text-align: left;
    padding: 24px 13px;
}

.saying__block__item__text::after{
    content: ''; 
    position: absolute;
    left: 25px; bottom: 89px;
    border: 10px solid transparent;
    border-top: 10px solid #f5f5f5;
}

.saying__block__item__photo{
    margin-top: 20px;
    width: 70px;
}

.saying__block__item__name{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 160px;
    left: 87px;
}

.saying__block__item__profession{
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    position: absolute;
    top: 185px;
    left:87px;
}

.axure{
    background-image: url("/images/back_image.png");
    background-color: black;
    background-size: cover;
}

.axure__title{
    color: white;
    padding-top: 74px;
    margin-bottom: 30px;
}

.axure__text{
    color: white;
    opacity:0.8;
}

button{
    width: 135px;
    height: 42px;
    background: transparent;
    border-color:white;
    color:white;
    margin-bottom:63px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


footer{
    width:100%;
    background-color: black;
}

.footer__container{
    padding-top:38px;
}

.social__icons{
    width: 317px;
    height: 23px;
    margin: 0 auto;
}

.footer__text{
    color:white;
    font-size: 12px;
    text-align:center;
    font-family: "Open Sans";
    margin-top:15px;
    opacity: 0.5;
    padding-bottom: 15px;
}